<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.endlesswhileloop.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rdio</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>QSActions</key>
	<dict/>
	<key>QSPlugIn</key>
	<dict>
		<key>requiresBundles</key>
		<array/>
		<key>com.rdio.desktop</key>
		<string></string>
		<key>author</key>
		<string>Tony Cosentini</string>
		<key>categories</key>
		<array>
			<string>Music</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Control Rdio.app via QuickSilver.</string>
		<key>extendedDescription</key>
		<string>Coming soon.</string>
		<key>icon</key>
		<string>KEXT</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetRdioSilverGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetRdioSilverControls</string>
					<key>name</key>
					<string>Rdio Controls</string>
					<key>source</key>
					<string>RdioSilverSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>KEXT</string>
			<key>name</key>
			<string>Rdio</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>RdioSilverActionProvider</key>
			<string>RdioSilverActionProvider</string>
		</dict>
		<key>QSApplicationActions</key>
		<dict>
			<key>com.rdio.desktop</key>
			<dict>
				<key>RdioSilverPreviousTrackCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>RdioSilverPreviousTrackCommand</string>
					<key>name</key>
					<string>Previous Track</string>
				</dict>
				<key>RdioSilverNextTrackCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>RdioSilverNextTrackCommand</string>
					<key>name</key>
					<string>Next Track</string>
				</dict>
				<key>RdioSilverIncreaseVolumeCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>RdioSilverIncreaseVolumeCommand</string>
					<key>name</key>
					<string>Increase Volume</string>
				</dict>
				<key>RdioSilverPlayPauseCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>RdioSilverPlayPauseCommand</string>
					<key>name</key>
					<string>Play/Pause</string>
				</dict>
				<key>RdioSilverDecreaseVolumeCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>RdioSilverDecreaseVolumeCommand</string>
					<key>name</key>
					<string>Decrease Volume</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>RdioSilverType</key>
			<string>RdioSilverSource</string>
		</dict>
		<key>QSBundleChildHandlersTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<string>RdioSilverSource</string>
		</dict>
		<key>QSCommands</key>
		<dict>
			<key>RdioSilverNextTrackCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>RdioSilverSource</string>
								<key>actionSelector</key>
								<string>nextTrack</string>
								<key>icon</key>
								<string>defaultAction</string>
								<key>name</key>
								<string>Next Track</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioSilverInternalCommand</string>
				</dict>
			</dict>
			<key>RdioSilverPreviousTrackCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>RdioSilverSource</string>
								<key>actionSelector</key>
								<string>previousTrack</string>
								<key>icon</key>
								<string>defaultAction</string>
								<key>name</key>
								<string>Previous Track</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioSilverInternalCommand</string>
				</dict>
			</dict>
			<key>RdioSilverDecreaseVolumeCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>RdioSilverSource</string>
								<key>actionSelector</key>
								<string>decreaseVolume</string>
								<key>icon</key>
								<string>defaultAction</string>
								<key>name</key>
								<string>Decrease Volume</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioSilverInternalCommand</string>
				</dict>
			</dict>
			<key>RdioSilverIncreaseVolumeCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>RdioSilverSource</string>
								<key>actionSelector</key>
								<string>increaseVolume</string>
								<key>icon</key>
								<string>defaultAction</string>
								<key>name</key>
								<string>Increase Volume</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioSilverInternalCommand</string>
				</dict>
			</dict>
			<key>RdioSilverPlayPauseCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>RdioSilverSource</string>
								<key>actionSelector</key>
								<string>playPause</string>
								<key>icon</key>
								<string>defaultAction</string>
								<key>name</key>
								<string>Play/Pause</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>RdioSilverPlayPause</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>RdioSilverType</key>
			<string>RdioSilverSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>RdioSilverSource</key>
			<string>RdioSilverSource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>RdioSilverPrefPaneTemplate</key>
			<dict>
				<key>class</key>
				<string>RdioSilverPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>RdioSilver</string>
			</dict>
		</dict>
		<key>QSProxiesTemplate</key>
		<dict>
			<key>RdioSilverSomeProxy</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>RdioSilver Proxy</string>
				<key>providerClass</key>
				<string>RdioSilverSource</string>
				<key>types</key>
				<array>
					<string>RdioSilverType</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerEventsTemplate</key>
		<dict>
			<key>RdioSilverSomeEvent</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Do something in response to this event</string>
				<key>provider</key>
				<string>RdioSilverSource</string>
			</dict>
		</dict>
		<key>QSTriggerSetsTemplates</key>
		<dict>
			<key>RdioSilverTriggers</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>RdioSilver</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>RdioSilverType</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>RdioSilver Object</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.qsapp.Another.PlugIn</string>
				<key>name</key>
				<string>Another Plug-in</string>
			</dict>
		</array>
	</dict>
	<key>QSTriggerAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>RdioSilverNextTrackTrigger</string>
			<key>command</key>
			<string>RdioSilverNextTrackCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Next Track</string>
			<key>set</key>
			<string>RdioSilver</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RdioSilverPreviousTrackTrigger</string>
			<key>command</key>
			<string>RdioSilverPreviousTrackCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Previous Track</string>
			<key>set</key>
			<string>RdioSilver</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RdioSilverDecreaseVolumeTrigger</string>
			<key>command</key>
			<string>RdioSilverDecreaseVolumeCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Decrease Volume</string>
			<key>set</key>
			<string>RdioSilver</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RdioSilverIncreaseVolumeTrigger</string>
			<key>command</key>
			<string>RdioSilverIncreaseVolumeCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Increase Volume</string>
			<key>set</key>
			<string>RdioSilver</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RdioSilverPlayTrigger</string>
			<key>command</key>
			<string>RdioSilverPlayPauseCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Play/Pause</string>
			<key>set</key>
			<string>RdioSilver</string>
		</dict>
	</array>
</dict>
</plist>
